html {
    font-family: sans-serif;
}

header,
footer {
    background-color: #0099cc;
}

body {
    height: 100%;
    max-height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.01rem;
    color: black;
    background-color: #fdfcfa;
    font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

figure {
    margin: 0;
}

nav {
    font-size: 1rem;
    line-height: 3.8rem;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
}

nav ul li ul li {
    float: left;
}

.container-item {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
}

.item {
    background-color: white);
    text-align: center;
}

.item:hover {
    background-color: rgb(0, 255, 0);
    transition: background-color 2s ease-out;
}

.item>img {
    width: 300px;
    border-radius: 50%;
}

.container-global {
    margin: 0 auto;
    width: 1024px;
}

header {
    /*  height: 85px;*/
}

.menushow {
    display: none;
    opacity: 0.1;
    background-color: #0099ce;
    position: absolute;
    color: white;
    padding: 5px 10px;
    left: 0;
    top: 71px;
}

nav ul li {
    position: relative;
    padding: 5px 20px;
    background-color: #0099ce;
    transition: background-color 1s ease-out;
    border-bottom: 2px solid #0099ce;
}

nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: opacity 1s ease-out;
}

nav>ul>li:hover {
    border-bottom: 2px solid white;
    background-color: #00c7ce;
}

nav>ul>li:hover>.menushow {
    display: block;
    opacity: 1;
}


/* animations */


/*.item>img {
    animation: flip 1.5s ease 0s infinite normal;
}

img {
    border-radius: 50%;
}
*/


/*
.animated.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    }
    @keyframes flip {
    0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    } 
    */